#clickerDoggie {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 300px;
}

#display {
    color: white;
    text-align: center;
    font-size: 50px;
    text-align: center;
}