.home-wrapper {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(75deg, gray 50%, transparent 50%),
              url('https://i.postimg.cc/Jh7mVN2J/backround.png');
  background-size: cover;
  background-position: center;
}

#main {
  font-size: 36px;
  color: black;
  margin-left: 20px;
}

.doggie {
  width: 300px;
  max-width: 45vw;
  height: auto;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
}

#Discord {
  position: absolute;
  top: 10px;
  right: 100px;
  font-size: 20px;
  border-radius: 8px;
  background-color: gray;
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px;
  font-family: Arial, sans-serif;
  margin: 6px;
}

#Login {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border-radius: 8px;
  background-color: gray;
  border: none;
  color: white;
  cursor: pointer;
  padding: 12px;
  font-family: Arial, sans-serif;
  margin: 6px;
}

#info {
  font-size: 18px;
  color: black;
  margin: 20px;
  margin-top: 550px;
}


.doggie-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  display: flex;
  gap: 2px;          
  align-items: center;
}

#doggie {
  width: 300px;
  height: auto;
  display: block;
  cursor: pointer;
}

#doggie2 {
  width: 300px;
  height: auto;
  display: block;
  cursor: pointer;  
}
