#mainStats {
    color: white;
    text-align: center;
}

#pfpdoggie {
    width: 210px;
    height: auto;
    border-radius: 10px;
    margin-left: 280px;
    cursor: pointer;
    margin-top: 50px;
}

.user {
    color: black;
    text-align: center;
    margin-top: -150px;
    font-size: 25px;
    margin-left: 500px;
    width: 300px;
    height: 75px;
    background-color: gray;
    border-radius: 10px;
    padding: 15px;
}

.userStats {
    width: 600px;
    height: 100px;
    margin-top: 150px;
    margin-left: 300px;
    background-color: gray;
    padding: 100px;
    border-radius: 10px;
}

.doggies {
    font-size: 20px;
    width: 150px;
    height: 30px;
    padding: 2px;
    background-color: lightslategray;
    border-radius: 10px;
    margin-right: 10px;
    display: none;
}

.dpc {
    font-size: 20px;
    width: 150px;
    height: 30px;
    padding: 2px;
    background-color: lightslategray;
    border-radius: 10px;
    margin-left: 250px;
    margin-top: -30px;
    padding: 1px;
    display:none;
}