h1 {
    margin: 0;
}

#title {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    display: none; /* still need to figure out if were keeping titles or not.. */
}

#doggie1 {
    width: 250px;
}


#doggie2 {
    width: 250px;
}
 